<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testDao" class="src.TestDao">
        <property name="str" value="hello"/>
        <property name="mybatis" value="true"/>
    </bean>
    <bean id="testService" class="src.TestService">
        <property name="testDao" ref="testDao"/>
        <property name="version" value="2"/>
    </bean>
    <bean id="testServiceC" class="src.TestService">
        <constructor-arg ref="testDao"/>
        <constructor-arg value="2"/>
    </bean>


</beans>
